* {
    margin: 0;
    padding: 0;
  }
  .title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    
  }
 .thumbnail{
     width: 50px;
     vertical-align: middle;
     padding-bottom: 10px;
     height: 50PX;
 }
  ul,li { list-style:none;
    
  }
  a{
    text-decoration: none;
  }

  #image-main {
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    border-radius: 100px;
    
  }
  
  .app {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    
  }
  #action {
    background-color: #01102b;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    margin: 20px 0 100px;
    color: #fff;
    padding: 12px 30px;
    cursor: pointer;
  }
  .item-list {
    display: none;
  }

  